.DS_Store
.idea
.vscode
**/.env
server/*
server/.DS_Store
server/**/*

chrome_extension/dist
chrome_extension/node_modules
chrome_extension/.DS_Store
chrome_extension/src/.DS_Store


# gemini-cli settings
.gemini/

# Github App credentials
gha-creds-*.json

electron-app/.electron-cache/
electron-app.zip
electron-app/resources/*
electron-app/release/*