.DS_Store
.idea
.vscode
**/.env
web-version/node_modules/
web-version/*.log
web-version/.DS_Store

chrome_extension/dist
chrome_extension/node_modules
chrome_extension/.DS_Store
chrome_extension/src/.DS_Store


# gemini-cli settings
.gemini/

# Github App credentials
gha-creds-*.json

electron-app/.electron-cache/
electron-app.zip
electron-app/resources/*
electron-app/release/*

# dist
**/dist

web-version/downloads

chrome_extension/extension.zip